.row
  .large-12.columns
    - flash.each do |key, value|
      - if key == :error
        %div.alert-box.alert{"data-alert" => true}
          = value
          = link_to "×", "#", class: "close"
      - elsif key == :notice
        %div.alert-box.success{"data-alert" => true}
          = value
          = link_to "×", "#", class: "close"
