.row
  .large-12.columns
    %h2 
      Nouveau PNJ
      %small= @campaign.name

.row
  .large-12.columns
    = form_for @npc, html: {class: "custom"} do |form|
      = render partial: "form", locals: {form: form}
      = form.submit "Créer le PNJ"
