%table{style: "width: 100%"}
  %thead
    %tr
      %th{width: 300} Nom
      %th{width: 150} Groupe
      %th Actions
  %tbody
    - @campaign.npcs.each do |npc|
      %tr
        %td= npc.name
        %td= npc.npc_group.nil? ? "-" : npc.npc_group.name
        %td
%p= link_to "Nouveau PNJ", "#", class: "button success"
