%table{style: "width:100%"}
  %thead
    %tr
      %th{width: 300} Nom
      %th{width: 150} Nombre de PNJ
      %th Actions
  %tbody
    - @campaign.npc_groups.each do |npc_group|
      %tr
        %td= npc_group.name
        %td= npc_group.npcs.count
        %td
= link_to "Nouveau groupe de PNJ", "#", class: "button success"
