.row
  .large-12.columns
    %h2 
      Nouveau groupe de PNJ
      %small= @campaign.name

.row
  .large-12.columns
    = form_for @npc_group do |form|
      = render partial: "form", locals: {form: form}
      = form.submit "Créer le groupe"
